{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    Add new note
                </div>
            </div>
            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <form method="post" style="margin: 20px;">
                                {% csrf_token %}
                                {{ form.title|as_crispy_field }}
                                {{ form.description|as_crispy_field }}
                                <input type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>

{% endblock %}
